
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* ruang untuk ikon mata */
}

.eye-password-2 {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.eye-password-2:hover {
    color: var(--hover-second-color);
}

@media (max-width: 1023px) { 

}

@media (max-width: 767px) {

}